@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --cl-dark:#070a13;
  --cl-light:#f1f5f9;
  --cl-rose:#e11d48;
  --cl-indigo:#4f46e5;
  --cl-slate400:#94a3b8;
  --cl-slate600:#455569;
  --cl-slate800:#1e293b;
  /* slate800 	rgb(30, 41, 59) */
  /* slate600 		rgb(69, 85, 105) */
  /* slate400 	rgb(148, 163, 184) */
  /* indigo 	rgb(79, 70, 229) */
  /* rose rgb(225, 29, 72) */
  /* light 	rgb(241, 245, 249) */
  /* dark 	rgb(7, 10, 19) */
  /* Sizes from tailwind CSS*/
  --size-xxs:.5rem;
  --size-xs:.75rem;
  --size-sm:.875rem;
  --size-base:1rem;
  --size-lg:1.125rem;
  --size-xlg:1.25rem;
  --size-2xl:1.5rem;
  --size-3xl:1.875rem;
  --size-4xl:2.25rem;
  --size-5xl:3rem;
  --size-6xl:3.75rem;
  --size-7xl:4.5rem;
  --size-8xl:6rem;
  --size-9xl:8rem;
  --size-10xl:10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 6px 18px;
  position: relative;
}
.pages{
  display: flex;
  justify-content: space-between;
  border: 4px solid red;
}
