.about {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.about__content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.about_bottom_btns {
  margin: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.about__title {
  font-size: var(--size-2xl);
  color: var(--cl--light);
}
.about__img {
  max-width: 100%;
  width: 70%;
  height: 70%;
}
.about__description {
  align-self: flex-start; /* Align text to top of image */
  margin-top: calc(50% - line-height);
  max-width: 60ch;
  font-size: var(--size-sm);
  opacity: 0.5;
}
.about__hr {
  border: 1px solid wheat;
}
.about__subtitle {
  letter-spacing: 0.345em;
  font-size: var(--size-lg);
}
.about__ul {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1em;
  list-style-type: "\1F44D";
  /* list-style-type: '\11A9E';*/
  padding-left: 1rem;
  margin-bottom: 1em;
}
.about__li {
  font-size: var(--size-sm);
  color: var(--cl--slate600);
  margin-left: 1em;
}
.about__li::before {
  content: "  ";
  margin-left: 1em;
}
.about__ul-container {
  display: flex;
}

@media (min-width: 475px) {
  .about__content {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
  }
  .about__title {
    font-size: var(--size-3xl);
    color: var(--cl--light);
  }
  .about__description {
    max-width: 60ch;
    font-size: var(--size-base);
    opacity: 0.6;
  }
  .about__subtitle {
    letter-spacing: 0.45em;
    font-size: var(--size-lg);
  }
  .about__ul {
    gap: 1.5em;
    /* padding-left: 1rem; */
  }
}
/*  small */
@media (min-width: 640px) {
  .about__img {
    width: 28.7rem;
  }
  .about__img__container {
    margin: 0 auto;
  }
  .about__description {
    max-width: 60ch;
    font-size: var(--size-2xl);
    opacity: 0.9;
  }
}
/* medium */
@media (min-width: 768px) {
}
/* large */
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    gap: 1.5em;
  }
  .about__img {
    margin-top: 1.5rem;
  }
}
/* extra large */
@media (min-width: 1280px) {
  .about__img {
    max-width: 100%;
    margin-top: 0.5rem;
    width: 70%;
    height: 100%;
  }
}
/* 2extra small */
@media (min-width: 1530px) {
}
